body{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-family: arial;
}	

header {
	font-weight: bold;
}

#main-header {
	height: 80px;
}

/*Logo*/

.logo{
	height: 60px;
	width: 60px;
	border-radius: 30px;
	float: left;
	margin-right: 10px;
}


/*Title*/
#header-name {
	font-size: 40px;
	color: #ff471a;
	padding: 15px;
	margin: 8px 0px 0px 0px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/*Search*/
#search {
	float: right;
	padding: 5px;
	margin: 10px 10px 0px 0px;
}


/* Banner Section */
#main-image{
	float: left;
	width: 700px;
	height: 300px;
}


#donut-of-the-day{
	float: right;
	width: 300px;
	height: 300px;
}

/* Welcome text*/

#welcome {
	float: left;
	width: 70%;
	font-size: 18px;
	margin: 20px 0px 20px 0px;
}

#welcome > header {
	color: #ff471a;
	font-size: 25px;
	font-weight: bold;
	margin: bottom;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/* Container for news*/
#recent-news{
	float: right;
	width: 300px;
	margin: 20px 0px 20px 0px;
}

#recent-news > header{
	margin-left: 5px;
	color: #ff471a;
	font-size: 20px;
	font-weight: bold;
	margin: bottom;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#recent-news > ul {
	list-style: none;
}

#recent-news > ul > li{
	margin: 0px 0px 3px 0px;
}



/*main*/
#main{
	height: 100%;
	width: 700px;
	float: left;
	margin: 0px 0px 3px 0px;
}

#donut-header{
	color: #ff471a;
	font-size: 18px;
	margin: 0px 0px 3px 0px;
	height: 25px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#header-title{
	background-color: #ff471a;
	border-radius: 5px;
	font-size: 18px;
	width: 70%;
	text-align: center;
}

.products{
	width: 25%;
	float: left;
	margin: 0px 0px 20px 0px;
}

.product-article{
	height: 150px;
	width: 200px;
	border-width: 2.75px;
	border-style: solid;
	border-color: black;
	margin: 3px 3px 3px 3px;
	padding: 3px 3px 3px 3px;
	border-radius: 5px;
}

.product-article-thumbnail{
	width: 100%;
}

.customer-of-day{
	height: 400px;
	width: 470px;
	border-radius: 20px;
	margin: 3px 3px 3px 3px;
	padding: 3px 3px 3px 3px;
	float: left;
}

figcaption{
	font-size: 18px;
	font-weight: bold;
	font-style: helvetica;
	text-align: center;
}


footer{
	clear: both;
	width: 50%;
	background-color: #ff471a;
	margin: 20px 0px 20px 0px;
	padding: 5px 0px 0px 0px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold; 
	text-align: center;
}







